Source: ros-crystal-ament-cmake-export-definitions
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-crystal-ament-cmake-core, ros-crystal-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-ament-cmake-export-definitions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-crystal-ament-cmake-core, ros-crystal-ros-workspace
Description: The ability to export definitions to downstream packages in the ament buildsystem.
